<!-- Add the PHP logic to determine what is shown and print the html below -->
<h3> Edit your placeholder, replace it with an image or replace your image. </h3>
<div class="row">
	<div class="col-xs-8">
	<p>Edit your placeholder if you still have one, or replace your picture or video. </p>
	</div>
</div>
<!--  Get a text place holder or let the user upload the image -->
<script>
 // when the placeholder button is clicked, the form shows and upload goes away.
$(document).ready(function(){
	$("#imUpload").hide(); // hide form for placeholder text when loading
	$("#imButton").click(function(){ //hide all and show upload form
		$("#psForm").remove();
		$("#imUpButtonDiv").remove();
		/* 
		$("#psForm").fadeOut();
		$("#imUpButtonDiv").fadeOut();
		 */
		$("#imUpload").fadeIn("slow");
	});
});
</script>
<div id="psForm" class="row" >
	<div class="col-xs-4">
			  <?php
			  Print SHOWPLACE;  // print defined value 
			  ?>
	</div> 
	<div class="col-xs-6">
	</div>
</div>
<div id="imUpButtonDiv" class="row" >
	<div class="col-xs-4">
		<button id="imButton" class="btn-info">Upload a Picture or Video</button>	
	</div> 
	<div class="col-xs-6">
		<p>If your image is ready, upload it now. Check the browser status bar below for progress.</p>
	</div>
</div>
<div id="imUpload" class="row" >
	<div class="col-xs-4">
		<form action="image_element.php" method="post" enctype="multipart/form-data">
			Select image to upload:
			<input type="file" name="fileToUpload" id="fileToUpload">
			<br>
			<button type="submit" class="btn btn-primary" name="submit">Upload Image</button>
			<!-- <input id="wSubmit" type="submit" value="Upload Image" name="submit"> -->
		</form>
	</div> 
</div>
<br>